<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GradeBook Manager</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="library/jquery-3.3.1.min.js" defer></script>
    <script type="text/javascript" src="library/knockout-3.4.2.js" defer></script>
    <script type="text/javascript" src="library/mapping.js"defer></script>
    <script type="text/javascript" src="script.js" defer></script>

</head>
<body>
    <div id="wrapper">
        <header>
            <div class ="logo">
            <h1><i class="fa fa-graduation-cap" aria-hidden="true"></i><p>e</p>GradeBook</h1>
             </div>
        </header>
        <div id= "content">
            <nav id = "nav">
                <ul>
                    <li id= "displayStudents"><a href = "#students">Manage students</a></li>
                    <li id= "displayCourse"><a href = "#courses">Manage courses</a></li>
                </ul>
            </nav>
            <article id = "students">
                <h2>List of students</h2>     
                <form>
                    <div class="tableHelper">       
                        <table id = "studentTable">
                            <thead>
                                <tr>
                                    <th><input data-bind="value: studentSearch.index" type="number" name="index" placeholder = "Index" min="0"></th>
                                    <th><input data-bind="value: studentSearch.firstName" type="text" name="firstName" placeholder = "First name"></th>
                                    <th><input data-bind="value: studentSearch.lastName" type="text" name="lastName" placeholder = "Last name"> </th>
                                    <th><input data-bind="value: studentSearch.birthday" type="text" name="birthday" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')"></th>
                                    <th><input type="text" name="action" value="Action" readonly></th>           
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: students">
                                <tr >
                                    <td><input data-bind="value: index" type="number" name="index" value="122305" min="0" readonly></td>
                                    <td><input data-bind="value: firstName" type="text" name="firstName" value="Jakub" required></td>
                                    <td><input data-bind="value: lastName" type="text" name="lastName" value="Białek" required></td>
                                    <td><input data-bind="value: birthday" type="text" name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" value="1995-05-17" required></td> 
                                    <td>
                                        <button onclick="window.location.href='#grades'" data-bind="click: $parent.onClickGrades">See grades</button>
                                        <button type="button" data-bind="click: $parent.deleteStudent.bind($data)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><input readonly></td>
                                    <td><input data-bind="value: studentToAdd.firstName" type="text" id="firstName" placeholder="First name" required></td>
                                    <td><input data-bind="value: studentToAdd.lastName" type="text" id="lastName" placeholder="Last name" required></td>
                                    <td><input data-bind="value: studentToAdd.birthday" type="text" id="birthday" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')" required></td>
                                    <td>
                                        <button  data-bind="click: addStudent" type="submit" id="addStudent">Add student</button>
                                    </td>
                                </tr>
                            
                        </table>
                    </div>   
                </form>
            </article>
            <article id = "courses">
                <h2>List of courses</h2>
                <form>
                    <div class="tableHelper">
                        <table id = "coursesTable">
                            <tr>
                                <th><input data-bind="value: courseSearch.name" type="text" name="name" placeholder="Name"></th>
                                <th><input data-bind="value: courseSearch.lecturer" type="text" name="lecturer" placeholder="Lecturer"></th>
                                <th><input type="text" name="action" value="Action" readonly></th>           
                            </tr>
                            <tbody data-bind="foreach: courses">
                            <tr>
                                <td><input data-bind="value: name" type="text" name="name" value="Przedsiębiorczość"></td>
                                <td><input data-bind="value: $data.lecturer" type="text" name="lecturer" value="dr hab. inż. A.Jaszkiewicz"></td>
                                <td>
                                    <button type="button" data-bind="click: $parent.deleteCourse.bind($data)">Delete</button>
                                </td>
                            </tr>
                        </tbody>               
                            <tr>
                                <td><input data-bind="value: courseToAdd.name" type="text" name="name" placeholder="Name of course" required></td>
                                <td><input data-bind="value: courseToAdd.lecturer" type="text" name="lecturer" placeholder="Lecturer" required></td>
                                <td>
                                    <button data-bind="click: addCourse" type="submit">Add course</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </article>
            <article id = "grades">
                <h2>Grades: <span data-bind="text: currentStudent.firstName"></span> <span data-bind="text: currentStudent.lastName"></span> </h2>
                <form>
                    <div class="tableHelper">
                        <table id = "gradesTable">
                            <tr>
                                <th><input data-bind="value: gradeSearch.course" type="text" name="course" placeholder="Course"></th>
                                <th><input data-bind="value: gradeSearch.value" type="number" name="value" placeholder="Value" step = "0.5" min = "2.0" max = "5.0"></th>
                                <th><input data-bind="value: gradeSearch.date" type="text" name="date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date"></th>
                                <th><input type="text" name="action" value="Action" readonly></th>              
                            </tr>
                            <tbody data-bind="foreach: grades">
                            <tr>
                                <td>
                                    <select data-bind="options: $parent.courses,
                                    optionsText: function(item) {
                                       return item.name
                                   },
                                   optionsValue: function(item) {
                                       return item.id
                                   },
                                   value: course">
                                </select>
                                </td>
                                <td><input data-bind="value: value" type="number" name="value" value="5" step = "0.5" min = "2" max = "5"></td>
                                <td><input data-bind="value: date" type="text" name="date" onfocus="(this.type='date')" onblur="(this.type='text')" value="2017-08-30"></td>
                                <td>
                                    <button data-bind="click: $parent.deleteGrade.bind($data)" type="button">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <select data-bind="options: courses,
                                        optionsText: function(item) {
                                        return item.name
                                        },
                                        optionsValue: function(item) {
                                        return item.id
                                        },
                                        optionsCaption: 'Choose subject',
                                        value: gradeToAdd.course">
                                    </select>
                                </td>
                                <td><input data-bind="value: gradeToAdd.value" type="number" name="value" placeholder="Grade" step = "0.5" min = "2.0" max = "5.0" required></td>
                                <td><input data-bind="value: gradeToAdd.date" type="text" name="date" placeholder="Date" onfocus="(this.type='date')" onblur="(this.type='text')" required></td>
                                <td>
                                    <button data-bind="click: addGrade" type="submit">Add grade</button>
                                </td>
                            </tr>
                        </tfoot>
                        </table>
                    </div>
                </form>
            </article>
        </div>
        <footer>
            <div class = "footInside">
                <p>eGradeBook created by Jakub Białek</p>
                <p> &copy; Copyrights 2018</p>
            </div>
        </footer>
    </div>
</body>
</html>