<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        article:target{
            display: block;
        }
        article{
            display: none;
        }
        input{
            width:97%;
        }

    </style>
</head>
<body>
    <div id="wrapper">
        <header>
            <figure>
                    <img src="png/student.png" alt="Logo" style="width:8%;">
                    <h1>eGradeBook</h1>
            </figure>
        </header>
        <div>
            <nav>
                <ul>
                    <li><a href = "#students">Manage studens</a></li>
                    <li><a href = "#courses">Manage courses</a></li>
                </ul>
            </nav>
            <article id = "students">
                <h2>List of students</h2>     
                <form>          
                    <table>
                        <tr>
                            <th><input type="number" name="index" placeholder = "Index"></th>
                            <th><input type="text" name="firstName" placeholder = "First name"></th>
                            <th><input type="text" name="lastName" placeholder = "Last name"> </th>
                            <th><input type="text" name="birthday" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')"></th>
                            <th><input type="text" name="action" value="Action" readonly></th>           
                        </tr>
                        <tr>
                            <td><input type="number" name="index" value="122305" readonly></td>
                            <td><input type="text" name="firstName" value="Jakub"></td>
                            <td><input type="text" name="ilastName" value="Białek"></td>
                            <td><input type="text" name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" value="1995-05-17"></td> 
                            <td>
                                <button onclick="window.location.href='#grades'">See grades</button>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="number" name="index" value="122333" readonly></td>
                            <td><input type="text" name="firstName" value="Thor"></td>
                            <td><input type="text" name="ilastName" value="Odinson"></td>
                            <td><input type="text" name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" value="1105-07-21"></td>
                            <td>
                                <button onclick="window.location.href='#grades'">See grades</button>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="number" name="index" value="113245" readonly></td>
                            <td><input type="text" name="firstName" value="Tony"></td>
                            <td><input type="text" name="ilastName" value="Stark"></td>
                            <td><input type="text" name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" value="1965-04-28"></td>
                            <td>
                                <button onclick="window.location.href='#grades'">See grades</button>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="number" name="index" placeholder="Index" required></td>
                            <td><input type="text" name="firstName" placeholder="First name" required></td>
                            <td><input type="text" name="ilastName" placeholder="Last name" required></td>
                            <td><input type="text" name="birthday" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')" required></td>
                            <td>
                                <button type="submit">Add student</button>
                            </td>
                        </tr> 
                    </table>
                </form> 
            </article>
            <article id = "courses">
                <h2>List of courses</h2>
                <form>
                    <table>
                        <tr>
                            <th><input type="text" name="name" value="Name"></th>
                            <th><input type="text" name="lecturer" value="Lecturer"></th>
                            <th><input type="text" name="action" value="Action" readonly></th>           
                        </tr>
                        <tr>
                            <td><input type="text" name="name" value="Przedsiębiorczość"></td>
                            <td><input type="text" name="lecturer" value="dr hab. inż. A.Jaszkiewicz"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" name="name" value="TP - SI"></td>
                            <td><input type="text" name="lecturer" value="dr inż. Tomasz Pawlak"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" name="name" value="Aplik. multimedialne"></td>
                            <td><input type="text" name="lecturer" value="dr inż. Bartłomiej Prędki"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" name="name" placeholder="Name of course" required></td>
                            <td><input type="text" name="lecturer" placeholder="Lecturer" required></td>
                            <td>
                                <button type="submit">Add course</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </article>
            <article id = "grades">
                <h2>Grades</h2>
                <form>
                    <table>
                        <tr>
                            <th><input type="text" name="course" placeholder="Course"></th>
                            <th><input type="number" name="value" placeholder="Value"></th>
                            <th><input type="text" name="date" placeholder="Date"></th>
                            <th><input type="text" name="action" value="Action" readonly></th>              
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option selected="selected">Przedsiębiorczość w IT</option>
                                    <option>TP - SI</option>
                                    <option>Aplik. mobilne</option>
                                </select>
                            </td>
                            <td><input type="number" name="value" value="5" step = "0.5" min = "2" max = "5"></td>
                            <td><input type="text" name="date" value="12.05.2018"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>Przedsiębiorczość w IT</option>
                                    <option selected="selected">TP - SI</option>
                                    <option>Aplik. mobilne</option>
                                </select>
                            </td>
                            <td><input type="number" name="value" value="5" step = "0.5" min = "2.0" max = "5.0"></td>
                            <td><input type="text" name="date" value="17.05.2018"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>Przedsiębiorczość w IT</option>
                                    <option>TP - SI</option>
                                    <option selected="selected">Aplik. multimedialne</option>
                                </select>
                            </td>
                            <td><input type="number" name="value" value="5" step = "0.5" min = "2.0" max = "5.0"></td>
                            <td><input type="text" name="date" value="22.01.2018"></td>
                            <td>
                                <button type="button">Modify</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" name="course" placeholder="Name of course"></td>
                            <td><input type="text" name="value" placeholder="Grade"></td>
                            <td><input type="text" name="date" placeholder="Date"></td>
                            <td>
                                <button type="submit">Add grade</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </article>
        </div>
        <footer>
            <p>eGradeBook created by Jakub Białek</p>
            <p> &copy; Copyrights 2018</p>
        </footer>
    </div>
</body>
</html>