body{
    width: 100%;
    margin:0;
    font-family: "Arial", Times, serif;
}
#wrapper{
    margin:0;
    height: 90vh;
}

header{
    display: flex;
    margin: 0;
    background: linear-gradient(0.25turn, #fdb913, #efefef, #fdb913);
    background-color:#fdb913;
    color: black;
    height: 80px;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid #fdb913;
}
header h1{
    display: flex;
}
header p{
    margin: 0;
    color: #E80008;
}
header i{
    margin-right: 10px;
}
#content{
    display: flex;
    flex-wrap: wrap;
    height:85%;
    margin:0;
}
#nav{
    background-color: #efefef;
    flex: 1 1 20%;
}
#nav ul {
    list-style-type: none;
    width: 100%;
    padding:0;
    margin:0;
}
#nav ul li{
    border-bottom: 3px solid #fdb913;
    width: 100%;
    text-align: center;
}
#nav ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
    height:100%;
    display: block;
    font-weight: 600;
    padding:  15% 0 15% 0;
}
#nav ul li:hover {
    text-decoration: none;
    background: linear-gradient(0.25turn, #fdb913, #efefef, #fdb913);
    cursor: pointer;
    color: white;
    width: 100%;
    font-weight: 600;
}
article:target{
    display: block;
}
article{
    display: none;
    flex: 2 1 70%;
    min-width: 500px;
    background-image: url("https://s3.pixers.pics/pixers/700/FO/73/25/93/31/700_FO73259331_c3a7ad828fdedff5b4414ec3f686eb42.jpg")

}
input{
    width:97%;
}
footer{
    border-top: 2px solid #E80008;
    margin:0;
    color: white;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width:100%;
    height:12%;
}
.main {
    position: absolute;
    top:0;
    left: 8px;
    height: 80px;
    background: #fff;
    width: 100px;
    transform: skewX(10deg);
}
.main2{
    position: absolute;
    top:0;
    left: 0;
    height: 80px;
    width: 50px;
    background: #fff;
}
.main3{
    position: absolute;
    top:0;
    right:8px;
    height: 80px;
    background: #fff;
    width: 100px;
    transform: skewX(-10deg);
}
.main4{
    position: absolute;
    top:0;
    right: 0;
    height: 80px;
    width: 50px;
    background: #fff;
}
.logo{
    margin:0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footInside {
   text-align: center
}